# =========================
# Render / Render Outputs
# =========================
*.exr
*.tx
*.tex
*.rat


# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
